*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
}

body{
  height: 100vh;
  min-height:100vh;
  position:relative;
}

a{
  text-decoration: none;
  color:inherit;
}

.footer{
  position: relative !important ;
  bottom:0 !important;
}